
.gradient-background {
    background: linear-gradient(300deg, rgb(84, 193, 59),red, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }

  .d-block{
    padding-top: 5%;
    padding-bottom: 20%;
    position: relative;
    
  }

  .mx-lg-auto{
    margin-left: 0%;
}

.profile-img{
  height: 100px;
  border-radius: 50%;
}
  
  
  