@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4e729b;
}
.container {
  border: 2px solid black;
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 15px 15px;
  background: rgba(0, 0, 0, 0.603);
}
.display {
  height: 80px;
  width: 100%;
  border: 2px solid rgb(0, 0, 0);
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
  border-radius: 12px;
}
.buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: rgb(255, 0, 0);
}