body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #555;
}

h1 {
  text-align: center;
}

#todo-container {
  margin-top: 20px;
}

#task-input {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border-radius: 10px;
}

footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 27%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

p {
  font-size: 14px;
}

/* Optional: Add more styling as needed */

button[type="submit"] {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ddd;
  color: #555;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: medium;
}

.task-text {
  flex: 1;
}

.delete-button,
.edit-button {
  padding: 6px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.delete-button {
  background-color: #ddd;
  color: #555;
  margin-left: 10px;
  margin-right: 7px;
  border-radius: 15px;
}

.edit-button {
  background-color: #ddd;
  color: #555;
  border-radius: 15px;
}

li:hover .delete-button,
li:hover .edit-button {
  opacity: 1;
}

.box {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .box {
    padding: 40px;
  }
}
.delete-button:hover {
  transform: scale(1.1);
  background-color: #ff4136;
  color: #fff;
}
.edit-button:hover {
  transform: scale(1.1);
  background-color: #0074d9;
  color: #fff;
}
button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #4caf50;
  color: #555;
}

button[type="submit"]:focus {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
