body{
    text-align: center;
}
.div{
    height:230px;
    width:330px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin:0 auto;

}
.red{
    height:100px;
    width:150px;
    background-color: red;
    border-radius: 20px;
    border:5px solid black;
}
.b{
    background-color: blue;
}
.c{
    background-color: green;
}
.d{
    background-color:orangered ;
}
.flash{
    background-color: white;
}
.f{
    background-color: black;
}