body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    max-width: 400px;
    padding: 80px;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 12px    ;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

li.completed {
    text-decoration: line-through;
}
/* Add this CSS for positioning the 'x' button */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete {
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

li .delete:hover {
    background-color: #cc0000;
}
